body{
  background:whitesmoke;
  font-family: sans-serif;
  font-weight: 300;
  /*width:auto;*/
  /*height: auto;*/
}
h1, h2, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
}
         /*Header Navbar*/
 .navbar {
    transition: all .5s ease-out;
}
.navbar-default{
    background:transparent;
    border: none;

}

.Scrolled-nav{
    background:#00aa88;
}
.Scrolled-nav .custom-nav>li>a{
    color: #0f0f0f;
}


.navbar-brand{
    color: peachpuff !important;
    padding-top: 30px;
    font-size: 20px;
    padding-left: 10px;

}

/*NAVBAR-NAV*/
 .custom-nav>li>a {
  font-size: 20px;
    font-family:sans-serif;
  /*margin-right: 30px;*/
  color: rgba(146, 81, 186,0.8)!important;
    padding-top: 30px;
    float: left;
    /*background-color: rgba() !important;*/
}
 .custom-nav>li>a:hover{
     color: rgba(146, 81, 186,1) !important;
     font-size: 30px;

 }
     .custom-nav li a.active{
        border-bottom: solid 4px rgba(101, 15, 186,0.8) !important;
         background:transparent;
          text-shadow: none;
         color: #1f2021;
          font-weight: 700;
     }

       /*carousel */
.carousel .slide{
    opacity: 1;
}


/**  Navbar Toggle **/
header .navbar-toggle {
    background-color: #279182;
}

 .navbar-toggle .icon-bar {
    background-color: white !important;
}

@media only screen and (max-width: 768px) {
     .navbar-collapse.in {
        background-color: rgba(0,0,0, .5) !important;
    }
}
/*ACHIEVEMENT*/
.achievement {
    background: url("../images/achievement- background.jpg");
    /*-webkit-background-size;*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.achievement .page>h2{
    margin: auto;
    text-align: center;
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 30px;
    color: #66341D;
    font-weight: bold;
}
.panel-primary{
    background: transparent;
}
.panel-primary .panel-heading {
    color: #fff;
    background-color: rgba(51,122,183, 0.4);
    border-color: #337ab7;
    background-image: none !important;
}
.panel-title>a:hover, .panel-title>a:active, .panel-title>a:visited{
    text-decoration: none;
    color:rgb(237, 237,7);
}
.panel-title>a{
  color: rgba(237, 237, 7,0.7 );
    text-decoration: none;
    text-transform: none;
}
.panel-body>p{
color:rgba(255,255,255,0.8);
    background-color:rgba(0,0,0,0.6);
}
/*NEWS*/
.news .page>h2{
    margin: auto;
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color:#66341D;
}
.news-image #news-image{
            background-color: white;
        }
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}
 #news .container{
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}
#news-image{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#news-image:hover{
    animation-play-state: paused;
}
#news-image figure{
    display: block;
    position: absolute;
    width: 90%;
    height: 50%px;
    left: 10px;
    top: 10px;
    background: #0f0f0f;
    overflow: hidden;
    border: solid 5px lightgoldenrodyellow;
}
.news-image>.image-gallery1 figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
.news-image>.image-gallery2 figure:nth-child(2){ transform: rotateY(40deg) translateZ(288px);}
.news-image>.image-gallery3 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
.news-image>.image-gallery4 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
.news-image>.image-gallery5 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
.news-image>.image-gallery6 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
.news-image>.image-gallery7 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
.news-image>.image-gallery8 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
.news-image>.image-gallery9 figure:nth-child(9){ transform: rotateY(320deg) translateZ(288px);}
 .news-image img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
}
 .news-image img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

 .cover-card>p{
    /*text-align: start;*/
      /*OR */
    text-align: center;
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}
.cover-card:hover>p{
    background-color: rgba(6,6,6,0.3);
    color: white;
    text-shadow: 3px 3px 10px #000;
}
     /*footer*/
/*admin info*/
/*.info-card {*/
    /*margin: 0 auto;*/
    /*width: 150px;*/
    /*height: 100px;*/
    /*position: relative;*/
    /*font-size: .8em;*/
    /*-webkit-perspective: 600px;*/
    /*-moz-perspective: 600px;*/
/*}*/
/*.info-card:hover .flipper, .info-card.hover .flipper {*/
    /*transform: rotateY(180deg);*/
/*}*/

/*.info-card .front{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*z-index: 900;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*text-align: center;*/
    /*-webkit-transform: rotateX(0deg) rotateY(0deg);*/
    /*-webkit-transform-style: preserve-3d;*/
    /*-webkit-backface-visibility: hidden;*/
    /*-moz-transform: rotateX(0deg) rotateY(0deg);*/
    /*-moz-transform-style: preserve-3d;*/
    /*-moz-backface-visibility: hidden;*/
    /*!* -- transition is the magic sauce for animation -- *!*/
    /*-o-transition: all .4s ease-in-out;*/
    /*-ms-transition: all .4s ease-in-out;*/
    /*-moz-transition: all .4s ease-in-out;*/
    /*-webkit-transition: all .4s ease-in-out;*/
    /*transition: all .4s ease-in-out;*/
/*}*/
/*.info-card .flip .front{*/
    /*z-index: 900;*/
    /*-webkit-transform: rotateY(180deg);*/
    /*-moz-transform: rotateY(180deg);*/
/*}*/
/*.info-card .pad .card-image{*/
    /*border-radius: 50%;*/
/*}*/
/*.info-card .back {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*z-index: 800;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*-webkit-transform: rotateY(-180deg);*/
    /*-webkit-transform-style: preserve-3d;*/
    /*-webkit-backface-visibility: hidden;*/

    /*-moz-transform: rotateY(-180deg);*/
    /*-moz-transform-style: preserve-3d;*/
    /*-moz-backface-visibility: hidden;*/
    /*!* -- transition is the magic sauce for animation -- *!*/
    /*-o-transition: all .4s ease-in-out;*/
    /*-ms-transition: all .4s ease-in-out;*/
    /*-moz-transition: all .4s ease-in-out;*/
    /*-webkit-transition: all .4s ease-in-out;*/
    /*transition: all .4s ease-in-out;*/
/*}*/
/*.info-card .flip .back{*/
    /*z-index: 1000;*/
    /*-webkit-transform: rotateX(0deg) rotateY(0deg);*/
    /*-moz-transform: rotateX(0deg) rotateY(0deg);*/
/*}*/
 .info-card{
     perspective: 1000px;
     margin: 0 auto;
 }
 .info-card:hover .flipper, .info-card.hover .flipper{
     transform: rotateY(180deg)
 }
 .info-card,.front .back{
     width: 350px;
     height: 200px;
 }
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.flipper .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
.front .pad .card-image{
    border-radius: 50%;
    background-color: #8a6d3b;
}
.flipper .back{
    transform: rotateY(180deg);
}
.back .pad >p { text-align: center;
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}
.back .pad:hover >p{
    background-color: rgba(6,6,6,0.3);
    color: white;
    text-shadow: 3px 3px 10px #000;
}
.back .pad .social>a{
    font-size: 50px;
}
  /*class footer*/
.footer{
    background-color: #0f0f0f;
}
 .footer .content .row .btn{
     float: right;
     background-color: #00b3ee;
 }
.footer .content .row .copyright p {
text-align: center;
}

@media only screen and (max-width: 321px) {
  #achievement h2 {
    font-size: 20px;
  }
}
# Bernabeu.com
